+msvc8|MS Visual Studio 2005
HKEY_CURRENT_USER\Software\Microsoft\VisualStudio\8.0\FileMRUList
HKEY_CURRENT_USER\Software\Microsoft\VisualStudio\8.0\ProjectMRUList

+msvc9|MS Visual Studio 2008
HKEY_CURRENT_USER\Software\Microsoft\VisualStudio\9.0\FileMRUList
HKEY_CURRENT_USER\Software\Microsoft\VisualStudio\9.0\ProjectMRUList

+office3|Microsoft Office 2003
HKEY_CURRENT_USER\Software\Microsoft\Office\11.0\Word\File MRU
HKEY_CURRENT_USER\Software\Microsoft\Office\11.0\Excel\Recent Files
HKEY_CURRENT_USER\Software\Microsoft\Office\11.0\PowerPoint\Recent File List

+office7|Microsoft Office 2007
HKEY_CURRENT_USER\Software\Microsoft\Office\12.0\Word\File MRU
HKEY_CURRENT_USER\Software\Microsoft\Office\12.0\Excel\File MRU
HKEY_CURRENT_USER\Software\Microsoft\Office\12.0\PowerPoint\File MRU

+wmp|Windows Media Player
HKEY_CURRENT_USER\Software\Microsoft\MediaPlayer\Player\RecentFileList

+foxit|Foxit Reader
HKEY_CURRENT_USER\Software\Foxit Software\Foxit Reader\Recent File List

+photoe|Photoshop Elements
HKEY_CURRENT_USER\Software\Adobe\Photoshop Elements\5.0\common\settings\Elements MRU

+km|KMPlayer
HKEY_CURRENT_USER\Software\KMPlayer\LastViewFile

+snag|SnagIt
HKEY_CURRENT_USER\Software\TechSmith\SnagIt\8\Recent Captures

+sql|SQL Server
HKEY_CURRENT_USER\Software\Microsoft\Microsoft SQL Server\90\Tools\Shell\ProjectMRUList

+paint|Paint
HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Applets\Paint\Recent File List

+ted|TED Notepad
HKEY_CURRENT_USER\Software\Medvedik\TedNPad5\Recent

+winrar|WinRAR
HKEY_CURRENT_USER\Software\WinRAR\ArcHistory

# An Amiga emulator, for those wondering
+winuae|WinUAE
HKEY_CURRENT_USER\Software\Arabuusimiehet\WinUAE\DiskImageMRUList

+wordpad|Wordpad
HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Applets\Wordpad\Recent File List

+acrobat|Acrobat Reader 9
HKEY_CURRENT_USER\Software\Adobe\Acrobat Reader\9.0\AVGeneral\cRecentFiles|tDIText

+oo|Open Office 2
FARR_MRU\openoffice

+npp|Notepad++
FARR_MRU\npp

# doesn't currently work reliably
# +ie|Internet Explorer
# HKEY_CURRENT_USER\Software\Microsoft\Internet Explorer\TypedURLs